/*-------------------------------------*/

#contorno {
    border: 1px solid #2270e4c4;
    background-color: #0837b8c4;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;

    box-shadow: 0px 0px 10px black;
}

ul {
    display: flex;
    padding: 0;
    margin: 10px;
    justify-content: space-around;
    color: white;

    list-style-type: none;
}

ul li {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    padding: 15px 45px;
    background-color: #617ac0c4;

    box-shadow: 0px 0px 6px black;
}

.salio {
    background-color: violet;
    color: black;
    border-radius: 55px;
}